body {
  background-color: white;
}

#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/**** styling af form****/
form {
  display: grid;
  gap: 2rem;
}
.form-group {
  display: grid;
  gap: 3px;
}

label:has(input) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 1px solid red;
    border-color: red;
  }
}
.required-group legend::after {
  content: " *";
  color: red;
}

legend::after label {
  display: block;
}

button,
input,
select,
textarea {
  font-family: monospace;
  font-size: 1rem;
}

input[type="radio"] {
  accent-color: red;
  /* appearance: none; */
  border: 1px solid red;
  color: red;
  background: red;
  /* width: 20px;
  height: 20px; */
}

input {
  border: 1px solid red;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 1px 1px 2px rgba(51, 102, 255, 1);
}
button {
  background-color: blue;
  color: white;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.error-message {
  color: blue;
}
